/*.textbox {
    background-color: ;    
}*/

/*body {
    position: relative;
    left: 525px;
}*/
/*hr {
    width: 100%;
}
h2 {
   width: 100px;
   text-align: center;
}
h6 {
    position: relative;
    
    width: 160px
}
.textbox {
    position: relative;
    
    width: 200px
}
.btm-links {
    position: relative;
    
    width: 100px
}
h4 {
    position: relative;
   
    width: 100px
}
.email {
    position: relative;
   
    width: 100px
}
.buttons {
    position: relative;

    width: 100px
}
p {
    position: relative;
   
    width: 100px
}
.pie {
    position: relative;
  
    width: 270px
}
.header {
  background: url(header.png) 50% no-repeat;
  background-size: contain;
}*/
