<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>

<link href="/stylesheets/hspop.css" rel="stylesheet">



<form id="appForm" method="post" enctype="multipart/form-data" action="/tAs/applicants/{{tA_id}}/add">
</form>
<form id="popupform" method="post" action="/tAs">
</form>


<h2>Add a New Applicant</h2>

<div>
	<label>First Name: </label>
	<input type="text" name="first_name" form="appForm">
</div>

<div>
	<label>Last Name: </label>
	<input type="text" name="last_name" form="appForm">
</div>

<div>
	<label>Email</label>
	<input type="text" name="email" form="appForm">
</div>

<div>
	<label>Additional Info</label>
	<input type="text" name="info"  form="appForm">
</div>   



</hr>
<h6></h6>



<section>
  <a class="reg">Add a New Skill</a>
</section>



<div id="list1" class="dropdown-check-list" name="skillsList" tabindex="100">
	<span class="anchor">Applicant's Skills</span>
	<ul class="items">
	  <li><input type="checkbox" name="s1" form="appForm" />Php </li>
	  <li><input type="checkbox" name="s2" form="appForm" />Java</li>
	  <li><input type="checkbox" name="s3" form="appForm" />C++ </li>
	  <li><input type="checkbox" name="s4" form="appForm" />Node </li>
	  <li><input type="checkbox" name="s5" form="appForm" />Language </li>
	</ul>
</div>

<script type="text/javascript">
	var checkList = document.getElementById('list1');
	checkList.getElementsByClassName('anchor')[0].onclick = function (evt) {
	  if (checkList.classList.contains('visible'))
		checkList.classList.remove('visible');
	  else
		checkList.classList.add('visible');
	  }
</script>



</hr>
<h6></h6>



<div>
	<label>Upload Applicant's Resume: </label>
	<input type="file" name="resume_file" form="appForm">
</div>




<div class="pop">
	<span>✖</span>
	<h1>Add a New Skill</h1>
	<p>Please type the name of the skill you'd like to add.</p>
	<label>Skill Name: </label>
	<input type="text" name="new_skill_name" form="popupform">
	<div class="hsPopButton">
	<input type="submit" value="Send" form="popupform">
	</div>
</div>


<script type="text/javascript">
	$(document).ready(function () {
		$("a").click(function () {
	    	$(".pop").fadeIn(300);
	     	positionPopup();
	 	});
	
	//This disappears the the popup	
	$(".pop > span").click(function () {
	   	$(".pop").fadeOut(300);
			});
	});
</script>



<h6> and/or </h6>



<div>
	<label>Write a resume/description for the Applicant: </label>
	<textarea name="description" id="hsTextAreaToBeReplaced" form="appForm"></textarea>
	<script type="text/javascript">
		// Replace the <textarea id="hsTextAreaToBeReplaced"> with a CKEditor
		CKEDITOR.replace( 'hsTextAreaToBeReplaced' );
	</script>
</div>


<div>
	<input type="submit" value="Submit" form="appForm">
</div>