extends layout

block content
  .container
    .jumbotron
      .container
        h1 How May I Help You HS ?
        p SOME SAMPLE TEXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX	  XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXkdsfldsk
      
        //below is creating large botton
        a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
    
    .container
      .row
        .col-md-4
          h2 About Us
          p some Paragraph here dskfjsldkjffffffffffffffffffff
            ffffffffffffffffffffffffffffffff
            ffffffffffffffffffffffffffffffffffffffff
          //buttons
          a.btn.btn-default(href='#') View Details

        .col-md-4
          h2 Services
          p some Paragraph here dskfjsldkjffffffffffffffffffffffffffffffffffffff	    ffffffffffffffffffffffffffffffffffffffffffffffffffffff
          
          //buttons
          a.btn.btn-default(href='#') View Details

        .col-md-4
          h2 Get In Touch
          p some Paragraph here dskfjsldkjffffffffffffffffffffffffffffffffffffff            ffff
            ffffffffffffffffffffffffffffffffffffffffffffffffff
          //buttons
          a.btn.btn-default(href='#') View Details
