<h4>Student & Instructor login</h4>
        <form method="post" action="/users/login">
            <label> Username: </label>
            <input type="text" name="username">
            <label> Password: </label>
            <input type="password" name="password">
            <div>
              <input type="submit" class="button" value="Login">
            </div>
        </form>

