<h4>Refer this applicant to a hiring manager</h4>

<form id="regForm" method="post" action="/tAs/applicants/{{{applicant_id}}}/refer/{{{tA_id}}}/hiringManager">
        <div>
                <label>Hiring Manager's Username: </label>
                <input type="text" name="hiringManager">
        </div>

        <div>
                <input type="submit" value="Refer">
        </div>
</form>
