<h2>Create An Account</h2>
<form id="regForm" method="post" enctype="multipart/form-data"  action="/">
	<div>
        	<label>First Name: </label>
        	<input type="text" name="first_name" value="Hooman">
	</div>

	<div>
    		<label>Job Description File: </label>
    		<input type="file" name="description_file">
  	</div>

	<div>
        	<input type="submit" value="Signup">
	</div>

</form>
