<h3>Welcome to E-Learning</h3>
        <p>
        Lorem ipsum dolor sit amet, consectetuer <em>adipiscing elit</em>, sed diam nonummy nibh euismod
         vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
        </p>
        <a class="button" href="/users/signup">Sign Up Free</a>
        <p>You need to sign up to register for free classes</p>

