<h2>Latest Job Openings</h2>
{{#each jobs}}
	<div class="block">
        	<h3>{{title}}</h3>
        	<p><strong>Company: </strong>{{company}}</P>
        	<p><strong>Description: </strong>
            	{{description}}
			</p>
            
        	<a class='button' href='/jobs/{{_id}}/details/'> Job Details </a>
	</div>
{{/each}}
