<h2>Latest Job Openings</h2>
{{#each jobs}}
	<div class="block">
        	<h3>{{title}}</h3>
        	<p>
            	{{description}}
			</p>
            <p>Company: <strong>{{company}}</strong></P>
        	<a class='button' href='/jobs/{{_id}}/details'> Job Details </a>
	</div>
{{/each}}
