<style>
    .hsRecRank {
        font-size: 18px;
    }

    .hsProgressBarPosition {
        margin-bottom: 0px;
    }

    .hsProgressOutline {
        margin-top: 15px;
    }

    .hsButtonOutline {
        margin-top: 10px;
        text-align:center;
    }

    .hsButton {
        margin: 5px;
    }

</style>

<div class="x-content">                                                
   
    <!--HS: start of stacked row layout-->
    <div class="row stacked">


        <!--HS: start Column ONE-->

            
            <!--HS: start of Chart Layout-->
            <div class="x-chart-widget">                                    
                <div class="x-chart-widget-content">
                    
                    <!--HS: start of Summary stuff-->
                    <div class="x-chart-widget-content-head">
                        <h4>SUMMARY</h4>                                            
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">

                            <!--HS: START of Informer widget-->
                            <div class="x-chart-widget-informer">
                                <div class="row">
                                    
                                    <div class="col-md-3">                        
                                        <div class="tile tile-primary">
                                            10
                                            <p>Introduced Applicants</p>
                                        </div>
                                    </div>

                                    <div class="col-md-3">                        
                                        <div class="tile tile-primary">
                                            7
                                            <p>Referred Applicants</p>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-3">                        
                                        <div class="tile tile-primary">
                                            2
                                            <p>Hired Applicants</p>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                                           
                                        <div class="tile tile-primary">
                                            $ <span data-toggle="counter" data-to="1564">1,564</span>
                                            <p>Earned Commissions</p>
                                        </div>
                                    </div>
                                    
                        
                                </div>
                            </div>
                            <!--HS: END of Informer widget-->

                        </div>



                   


                        <div class="col-md-6">
                            <div class="buttons-panel">
                
                               

                                <span class="clearfix"></span>                 
                                
                                <div class="tile tile-primary hsRecRank">
                                    Your Recruiter Rank
                                    <li>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>

                                   
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <!--HS: END of Summary stuff-->





                     <!-- START ACCORDION -->           
                    <div class="panel panel-group panel-default accordion"> 
                
                            <!-- START of pannel heading  -->      
                            <div class="panel-heading">

                                <div class="panel-title-box">
                                    <h3>Your Applicants</h3>
                                </div>

                                <!--hs Panel Control buttons-->
                                <ul class="panel-controls" style="margin-top: 2px;">
                                    <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                                    <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>                                        
                                        <ul class="dropdown-menu">
                                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                                        </ul>                                        
                                    </li>                                        
                                </ul>
                                <!--hs END Panel Control buttons--> 
                                               
                            </div>
                            <!-- END of pannel heading  -->   

                          


                             <!--hs START of ROW1--> 
                            <table class="table table-condensed table-striped">
                                
                                <thead>
                                    <th width="25%"></th>
                                    <th width="50%"></th>
                                    <th width="25%"></th>
                                </thead>

                                <!-- HS START of first (and only) row of ROWONE-->
                                <tr>
                                    <!-- HS First column-->
                                    <td>
                                        <!-- START of Panel Primary  -->  
                                        <div class="panel panel-primary">

                                                <div class="panel-heading">

                                                    <div class="hs list-group list-group-contacts">
                                                        <a href="#accOneColOne" class="hs list-group list-group-contacts list-group-item">                                                                    
                                                            <img src="/atlantThemeAdmin/assets/images/users/user3.jpg" class="pull-left" alt="Nadia Ali"/>
                                                            
                                                            <span class="contacts-title">Nadia Ali</span>

                                                        </a>
                                                    </div>
                                                </div>  
                                        </div>
                                        <!-- END of Panel Primary  --> 
                                    </td>

                                    <!-- HS Second column-->
                                    <td>
                                        <div class="hsProgressOutline list-group-item">
                                            <div class="hsProgressBarPosition progress progress-striped active">
                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">Is being reviewed</div>
                                            </div>
                                        </div>
                                    </td>

                                    <!-- HS Third column-->
                                    <td>
                                       <div class="hsButtonOutline list-group-item">

                                            <button class="hsButton btn btn-primary btn-rounded"><span class="glyphicon glyphicon-hand-right">Refer</span></button>

                                            <button class="hsButton btn btn-primary btn-rounded"><span class="fa fa-pencil">Edit</span></button>

                                            <button class="hsButton btn btn-primary btn-rounded"><span class="glyphicon glyphicon-floppy-remove">Delete</span></button>
                                        </div>
                                    </td> 

                                </tr>
                            </table>
                            <!--hs END of ROW2--> 

                            <!-- START of Panel Secondary for ROW1  --> 
                            <div class="panel-body" id="accOneColOne"> 
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                            <!-- END of Panel Secondary for ROW1  --> 

       
                          
                            <!--hs START of ROW2--> 
                            <table class="table table-condensed table-striped">
                                
                                <thead>
                                    <th width="25%"></th>
                                    <th width="50%"></th>
                                    <th width="25%"></th>
                                </thead>

                                <!-- HS START of first (and only) row of ROWONE-->
                                <tr>
                                    <!-- HS First column-->
                                    <td>
                                        <!-- START of Panel Primary  -->  
                                        <div class="panel panel-primary">

                                                <div class="panel-heading">

                                                    <div class="hs list-group list-group-contacts">
                                                        <a href="#accOneColTwo" class="hs list-group list-group-contacts list-group-item">                                                                    
                                                            <img src="/atlantThemeAdmin/assets/images/users/user.jpg" class="pull-left" alt="Dmitry Ivaniuk"/>
                                                            
                                                            <span class="contacts-title">Dmitry Ivaniuk</span>

                                                        </a>
                                                    </div>
                                                </div>  
                                        </div>
                                        <!-- END of Panel Primary  --> 
                                    </td>

                                    <!-- HS Second column-->
                                    <td>
                                        <div class="hsProgressOutline list-group-item">
                                            <div class="hsProgressBarPosition progress progress-striped active">
                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">Must provide more information</div>
                                            </div>
                                        </div>
                                    </td>

                                    <!-- HS Third column-->
                                    <td>
                                       <div class="hsButtonOutline list-group-item">

                                            <button class="hsButton btn btn-primary btn-rounded"><span class="glyphicon glyphicon-hand-right">Refer</span></button>

                                            <button class="hsButton btn btn-primary btn-rounded"><span class="fa fa-pencil">Edit</span></button>

                                            <button class="hsButton btn btn-primary btn-rounded"><span class="glyphicon glyphicon-floppy-remove">Delete</span></button>
                                        </div>
                                    </td> 

                                </tr>
                            </table>
                            <!--hs END of ROW2--> 

                            <!-- START of Panel Secondary for ROWONE  --> 
                            <div class="panel-body" id="accOneColTwo"> 
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                            <!-- END of Panel Secondary for ROW2  --> 

                            
                          
                            <!--hs START of ROW3--> 
                            <table class="table table-condensed table-striped">
                                
                                <thead>
                                    <th width="25%"></th>
                                    <th width="50%"></th>
                                    <th width="25%"></th>
                                </thead>

                                <!-- HS START of first (and only) row of ROWONE-->
                                <tr>
                                    <!-- HS First column-->
                                    <td>
                                        <!-- START of Panel Primary  -->  
                                        <div class="panel panel-primary">

                                                <div class="panel-heading">

                                                    <div class="hs list-group list-group-contacts">
                                                        <a href="#accOneColThree" class="hs list-group list-group-contacts list-group-item">                                                                    
                                                            <img src="/atlantThemeAdmin/assets/images/users/user2.jpg" class="pull-left" alt="John Doe"/>
                                                    
                                                            <span class="contacts-title">John Doe</span>

                                                        </a>
                                                    </div>
                                                </div>  
                                        </div>
                                        <!-- END of Panel Primary  --> 
                                    </td>

                                    <!-- HS Second column-->
                                    <td>
                                        <div class="hsProgressOutline list-group-item">
                                            <div class="hsProgressBarPosition progress progress-striped active">
                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">Has no jobs matching their skills</div>
                                            </div>
                                        </div>
                                    </td>

                                    <!-- HS Third column-->
                                    <td>
                                       <div class="hsButtonOutline list-group-item">

                                            <button class="hsButton btn btn-primary btn-rounded"><span class="glyphicon glyphicon-hand-right">Refer</span></button>

                                            <button class="hsButton btn btn-primary btn-rounded"><span class="fa fa-pencil">Edit</span></button>

                                            <button class="hsButton btn btn-primary btn-rounded"><span class="glyphicon glyphicon-floppy-remove">Delete</span></button>
                                        </div>
                                    </td> 

                                </tr>
                            </table>
                            <!--hs END of ROW3--> 

                            <!-- START of Panel Secondary for ROW3  --> 
                            <div class="panel-body" id="accOneColThree"> 
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                            <!-- END of Panel Secondary for ROW3  --> 

                            
                          
                            <!--hs START of ROWONE--> 
                            <table class="table table-condensed table-striped">
                                
                                <thead>
                                    <th width="25%"></th>
                                    <th width="50%"></th>
                                    <th width="25%"></th>
                                </thead>

                                <!-- HS START of first (and only) row of ROWONE-->
                                <tr>
                                    <!-- HS First column-->
                                    <td>
                                        <!-- START of Panel Primary  -->  
                                        <div class="panel panel-primary">

                                                <div class="panel-heading">

                                                    <div class="hs list-group list-group-contacts">
                                                        <a href="#accOneColFour" class="hs list-group list-group-contacts list-group-item">                                                                    
                                                            <img src="/atlantThemeAdmin/assets/images/users/user4.jpg" class="pull-left" alt="Darth Vador"/>
                                                            
                                                            <span class="contacts-title">Darth Vador</span>

                                                        </a>
                                                    </div>
                                                </div>  
                                        </div>
                                        <!-- END of Panel Primary  --> 
                                    </td>

                                    <!-- HS Second column-->
                                    <td>
                                        <div class="hsProgressOutline list-group-item">
                                            <div class="hsProgressBarPosition progress progress-striped active">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">Is being considered for <strong>3</strong> jobs</div>
                                            </div>
                                        </div>
                                    </td>

                                    <!-- HS Third column-->
                                    <td>
                                       <div class="hsButtonOutline list-group-item">

                                            <button class="hsButton btn btn-primary btn-rounded"><span class="glyphicon glyphicon-hand-right">Refer</span></button>

                                            <button class="hsButton btn btn-primary btn-rounded"><span class="fa fa-pencil">Edit</span></button>

                                            <button class="hsButton btn btn-primary btn-rounded"><span class="glyphicon glyphicon-floppy-remove">Delete</span></button>
                                        </div>
                                    </td> 

                                </tr>
                            </table>
                            <!--hs END of ROWONE--> 

                            <!-- START of Panel Secondary for ROWONE  --> 
                            <div class="panel-body" id="accOneColFour"> 
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                            <!-- END of Panel Secondary for ROWONE  --> 

                            
                          
                            <!--hs START of ROWONE--> 
                            <table class="table table-condensed table-striped">
                                
                                <thead>
                                    <th width="25%"></th>
                                    <th width="50%"></th>
                                    <th width="25%"></th>
                                </thead>

                                <!-- HS START of first (and only) row of ROWONE-->
                                <tr>
                                    <!-- HS First column-->
                                    <td>
                                        <!-- START of Panel Primary  -->  
                                        <div class="panel panel-primary">

                                                <div class="panel-heading">

                                                    <div class="hs list-group list-group-contacts">
                                                        <a href="#accOneColFive" class="hs list-group list-group-contacts list-group-item">                                                                    
                                                            <img src="/atlantThemeAdmin/assets/images/users/user5.jpg" class="pull-left" alt="Mahdi Ghodsi"/>
                                                            
                                                            <span class="contacts-title">Mahdi Ghodsi</span>

                                                        </a>
                                                    </div>
                                                </div>  
                                        </div>
                                        <!-- END of Panel Primary  --> 
                                    </td>

                                    <!-- HS Second column-->
                                    <td>
                                        <div class="hsProgressOutline list-group-item">
                                            <div class="hsProgressBarPosition progress progress-striped active">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">Is being interviewed for <strong>5</strong> jobs</div>
                                            </div>
                                        </div>
                                    </td>

                                    <!-- HS Third column-->
                                    <td>
                                       <div class="hsButtonOutline list-group-item">

                                            <button class="hsButton btn btn-primary btn-rounded"><span class="glyphicon glyphicon-hand-right">Refer</span></button>

                                            <button class="hsButton btn btn-primary btn-rounded"><span class="fa fa-pencil">Edit</span></button>

                                            <button class="hsButton btn btn-primary btn-rounded"><span class="glyphicon glyphicon-floppy-remove">Delete</span></button>
                                        </div>
                                    </td> 

                                </tr>
                            </table>
                            <!--hs END of ROWONE--> 

                            <!-- START of Panel Secondary for ROWONE  --> 
                            <div class="panel-body" id="accOneColFive"> 
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                            <!-- END of Panel Secondary for ROWONE  --> 

                            
                          
                            <!--hs START of ROWONE--> 
                            <table class="table table-condensed table-striped">
                                
                                <thead>
                                    <th width="25%"></th>
                                    <th width="50%"></th>
                                    <th width="25%"></th>
                                </thead>

                                <!-- HS START of first (and only) row of ROWONE-->
                                <tr>
                                    <!-- HS First column-->
                                    <td>
                                        <!-- START of Panel Primary  -->  
                                        <div class="panel panel-primary">

                                                <div class="panel-heading">

                                                    <div class="hs list-group list-group-contacts">
                                                        <a href="#accOneColSix" class="hs list-group list-group-contacts list-group-item">                                                                    
                                                            <img src="/atlantThemeAdmin/assets/images/users/user6.jpg" class="pull-left" alt="Hooman Shariati"/>
                                                            
                                                            <span class="contacts-title">Hooman Shariati</span>

                                                        </a>
                                                    </div>
                                                </div>  
                                        </div>
                                        <!-- END of Panel Primary  --> 
                                    </td>

                                    <!-- HS Second column-->
                                    <td>
                                        <div class="hsProgressOutline list-group-item">
                                            <div class="hsProgressBarPosition progress progress-striped active">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">Was Hired By <strong>Fidessa</strong></div>
                                            </div>
                                        </div>
                                    </td>

                                    <!-- HS Third column-->
                                    <td>
                                       <div class="hsButtonOutline list-group-item">

                                            <button class="hsButton btn btn-primary btn-rounded"><span class="glyphicon glyphicon-hand-right">Refer</span></button>

                                            <button class="hsButton btn btn-primary btn-rounded"><span class="fa fa-pencil">Edit</span></button>

                                            <button class="hsButton btn btn-primary btn-rounded"><span class="glyphicon glyphicon-floppy-remove">Delete</span></button>
                                        </div>
                                    </td> 

                                </tr>
                            </table>
                            <!--hs END of ROWONE--> 

                            <!-- START of Panel Secondary for ROWONE  --> 
                            <div class="panel-body" id="accOneColSix"> 
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                            <!-- END of Panel Secondary for ROWONE  --> 






                    </div>
            <!-- END ACCORDION --> 









                    


                </div>                                        
            </div>
            <!--HS: END of Chart Layout-->


        <!--HS: END Column ONE-->

        
    </div>
    <!--HS: END of stacked row layout-->









    <!--HS: START of inner content layout-->
    <div class="x-content-inner">

    </div>   
    <!--HS: END of inner content layout-->




</div>