<style>

    .hsAddAppBut {

        /*
        font-size: 18px;
        margin: 0px;
        */
      
        padding: 1px 1px;
        border: 3px solid #eee;
        border-radius: 1em;
        margin-right: 15px;
        width:100%;
    }

    .hsRecRank {
        font-size: 18px;
        margin-left: 20px;
        padding-bottom: 19px;
        padding-top: 19px;
        float: none;
    }

    .hsSummery .tile {
        margin-bottom: 38px;
    }

    .hsProgressBarPosition {
        margin-bottom: 0px;
    }

    .hsProgressOutline {
        margin-top: 15px;
    }

    .hsButtonOutline {
        margin-top: 10px;
        text-align:center;
    }

    .hsButton {
        margin: 5px;
    }




    .pulse {
  animation: pulse 1s 1s forwards;
	}

	.jump {
	  animation: jump 1s 2s forwards cubic-bezier(.84,-0.54,.31,1.19);
	}

	.waggle {
	  animation: waggle 1s 3s forwards ease-out;
	}

	.sheen {
	  position: relative;
	  overflow: hidden;
	}

	.sheen:after {
	  animation: sheen 1s 4s forwards;
	  content: '';
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: linear-gradient(to bottom, transparent, rgba(255,255,255,0.5) 50%, transparent);
	  transform: rotateZ(60deg) translate(-1em, 4em);
	}

	.spin {
	  animation: spin 1.5s 5s forwards cubic-bezier(.56,-0.35,.22,1.5);
	}

	.fade {
	  animation: fade 1s 6.5s forwards;
	}

	@keyframes pulse {
	  0% {
	    background-color: orange;
	  }
	  25% {
	    background-color: red;
	  }
	  50 {
	    background-color: orange;
	  }
	  75% {
	    background-color: red;
	  }
	}

	@keyframes jump {
	  0% {
	    transform: none;
	  }
	  50% {
	    transform: translateY(-2em);
	  }
	}

	@keyframes waggle {
	  0% {
	    transform: none;
	  }
	  50% {
	    transform: rotateZ(-20deg) scale(1.2);
	  }
	  60% {
	    transform: rotateZ(25deg) scale(1.2);
	  }
	  67.5% {
	    transform: rotateZ(-15deg) scale(1.2);
	  }
	  75% {
	    transform: rotateZ(15deg) scale(1.2);
	  }
	  82.5% {
	    transform: rotateZ(-12deg) scale(1.2);
	  }
	  85% {
	    transform: rotateZ(0) scale(1.2);
	  }
	  100% {
	    transform: rotateZ(0) scale(1);
	  }
	}

	@keyframes sheen {
	  100% {
	    transform: rotateZ(60deg) translate(0, -4em);
	  }
	}

	@keyframes spin {
	  50% {
	    transform: rotateZ(-20deg);
	    animation-timing-function: ease;
	  }
	  100% {
	    transform: rotateZ(360deg);
	  }
	}

	@keyframes fade {
	  25% {
	    opacity: 0.25;
	  }
	  50% {
	    opacity: 1;
	  }
	  75% {
	    opacity: 0.25;
	  }
	  100% {
	    opacity: 1;
	  }
	}

	.start-now, .start-now:after {
	  animation-delay: 0;
	}

</style>





<div class="x-content">                                                
   
    <!--HS: start of stacked row layout-->
    <div class="row stacked">


        <!--HS: start Column ONE-->

            
            <!--HS: start of Chart Layout-->
            <div class="x-chart-widget">                                    
                <div class="x-chart-widget-content">
                    <div class="row">


	                    <div class="col-md-4">

                        <div style="padding:0px 0px" class="tile tile-primary">
	                        
	                        <button class="btn btn-primary hsAddAppBut" id="hsAddApId">
	                            
	                            <div style="font-size: 18px;margin: 0px;" class="widget widget-primary widget-item-icon">

	                                <div class="widget-item-left">
	                                    <span class="fa fa-user"></span>
	                                </div>
	                                
	                                <div class="widget-data">
	                                    <div class="widget-int num-count">$$$</div>
	                                    <div class="widget-title">Add a New Applicant</div>
	                                </div>
	                                   
	                            </div>

	                            <span class="clearfix"></span>  

	                        </button>
                        </div>

	                    </div>



                        <div class="col-md-6">

                            <!--HS: START of Informer widget-->
                            <div style="margin-left: 10px;" class="x-chart-widget-informer hsSummery">
                                    
                                    <div class="col-md-3">                        
                                        <div class="tile tile-primary">
                                            10
                                            <p>Introduced Applicants</p>
                                        </div>
                                    </div>

                                    <div class="col-md-3">                        
                                        <div class="tile tile-primary">
                                            7
                                            <p>Referred Applicants</p>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-3">                        
                                        <div class="tile tile-primary">
                                            2
                                            <p>Hired Applicants</p>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                                           
                                        <div class="tile tile-primary">
                                            $ <span data-toggle="counter" data-to="1564">1,564</span>
                                            <p>Earned Commissions</p>
                                        </div>
                                    </div>
                               
                            </div>
                            <!--HS: END of Informer widget-->
                        </div>


                        <div class="col-md-2">
                   
                                <span class="clearfix"></span>                 
                                
                                <div class="tile tile-primary hsRecRank">
                                    Your Recruiter Rank
                                    <li>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                   
                                </div>
                             
                        </div>


                    </div>
                    <!--HS: END of Summary stuff-->





                     <!-- START ACCORDION -->           
                    <div class="panel panel-group panel-default accordion"> 
                
                            <!-- START of pannel heading  -->      
                            <div class="panel-heading">

                                <div class="panel-title-box">
                                    <h3>Your Applicants</h3>
                                </div>

                                <!--hs Panel Control buttons-->
                                <ul class="panel-controls" style="margin-top: 2px;">
                                    <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                                    <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>                                        
                                        <ul class="dropdown-menu">
                                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                                        </ul>                                        
                                    </li>                                        
                                </ul>
                                <!--hs END Panel Control buttons--> 
                                               
                            </div>
                            <!-- END of pannel heading  -->   

                          


                             <!--hs START of ROW1--> 
                            <table class="table table-condensed table-striped">
                                
                                <thead>
                                    <th width="25%"></th>
                                    <th width="50%"></th>
                                    <th width="25%"></th>
                                </thead>

                                <!-- HS START of first (and only) row of ROWONE-->
                                <tr>
                                    <!-- HS First column-->
                                    <td>
                                        <!-- START of Panel Primary  -->  
                                        <div class="panel panel-primary">

                                                <div class="panel-heading">

                                                    <div class="hs list-group list-group-contacts">
                                                        <a href="#accOneColOne" class="hs list-group list-group-contacts list-group-item">                                                                    
                                                            <img src="/atlantThemeAdmin/assets/images/users/no-image.jpg" class="pull-left" alt="Nadia Ali"/>
                                                            
                                                            <span class="contacts-title">Nadia Ali  <span class="glyphicon glyphicon-menu-down"></span></span>

                                                        </a>
                                                    </div>
                                                </div>  
                                        </div>
                                        <!-- END of Panel Primary  --> 
                                    </td>

                                    <!-- HS Second column-->
                                    <td>
                                        <div class="hsProgressOutline list-group-item">
                                            <div class="hsProgressBarPosition progress progress-striped active">
                                                <div class="progress-bar progress-bar-progress" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">is being reviewed</div>
                                            </div>
                                        </div>
                                    </td>

                                    <!-- HS Third column-->
                                    <td>
                                       <div class="hsButtonOutline list-group-item">

                                           <button class="hsButton btn btn-primary btn-lg btn-condensed" data-toggle="tooltip" data-placement="top" title="Refer applicant to a job or person"><span class="fa fa-users"><strong></strong></span></button>

                                            <button class="hsButton btn btn-primary btn-lg btn-condensed" data-toggle="tooltip" data-placement="top" title="Edit applicant's skills"><span class="glyphicon glyphicon-pencil"></span></button>

                                            <button class="hsButton btn btn-primary btn-lg btn-condensed" data-toggle="tooltip" data-placement="top" title="Delete applicant"><span class="glyphicon glyphicon-trash"></span></button>
                                        </div>
                                    </td> 

                                </tr>
                            </table>
                            <!--hs END of ROW2--> 

                            <!-- START of Panel Secondary for ROW1  --> 
                            <div class="panel-body" id="accOneColOne"> 
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                            <!-- END of Panel Secondary for ROW1  --> 

       
                          
                            <!--hs START of ROW2--> 
                            <table class="table table-condensed table-striped">
                                
                                <thead>
                                    <th width="25%"></th>
                                    <th width="50%"></th>
                                    <th width="25%"></th>
                                </thead>

                                <!-- HS START of first (and only) row of ROWONE-->
                                <tr>
                                    <!-- HS First column-->
                                    <td>
                                        <!-- START of Panel Primary  -->  
                                        <div class="panel panel-primary">

                                                <div class="panel-heading">

                                                    <div class="hs list-group list-group-contacts">
                                                        <a href="#accOneColTwo" class="hs list-group list-group-contacts list-group-item">                                                                    
                                                            <img src="/atlantThemeAdmin/assets/images/users/user.jpg" class="pull-left" alt="Dmitry Ivaniuk"/>
                                                            
                                                            <span class="contacts-title">Dmitry Ivaniuk <span class="glyphicon glyphicon-menu-down"></span></span>

                                                        </a>
                                                    </div>
                                                </div>  
                                        </div>
                                        <!-- END of Panel Primary  --> 
                                    </td>

                                    <!-- HS Second column-->
                                    <td>
                                        <div class="hsProgressOutline list-group-item">
                                            <div class="hsProgressBarPosition progress progress-striped active">
                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">Must provide more information</div>
                                            </div>
                                        </div>
                                    </td>

                                    <!-- HS Third column-->
                                    <td>
                                       <div class="hsButtonOutline list-group-item">

                                           <button class="hsButton btn btn-primary btn-lg btn-condensed" data-toggle="tooltip" data-placement="top" title="Refer applicant to a job or person"><span class="fa fa-users"><strong></strong></span></button>

                                            <button class="hsButton btn btn-primary btn-lg btn-condensed" data-toggle="tooltip" data-placement="top" title="Edit applicant's skills"><span class="glyphicon glyphicon-pencil"></span></button>

                                            <button class="hsButton btn btn-primary btn-lg btn-condensed" data-toggle="tooltip" data-placement="top" title="Delete applicant"><span class="glyphicon glyphicon-trash"></span></button>
                                        </div>
                                    </td> 

                                </tr>
                            </table>
                            <!--hs END of ROW2--> 

                            <!-- START of Panel Secondary for ROWONE  --> 
                            <div class="panel-body" id="accOneColTwo"> 
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                            <!-- END of Panel Secondary for ROW2  --> 

                            
                          
                            <!--hs START of ROW3--> 
                            <table class="table table-condensed table-striped">
                                
                                <thead>
                                    <th width="25%"></th>
                                    <th width="50%"></th>
                                    <th width="25%"></th>
                                </thead>

                                <!-- HS START of first (and only) row of ROWONE-->
                                <tr>
                                    <!-- HS First column-->
                                    <td>
                                        <!-- START of Panel Primary  -->  
                                        <div class="panel panel-primary">

                                                <div class="panel-heading">

                                                    <div class="hs list-group list-group-contacts">
                                                        <a href="#accOneColThree" class="hs list-group list-group-contacts list-group-item">                                                                    
                                                            <img src="/atlantThemeAdmin/assets/images/users/user2.jpg" class="pull-left" alt="John Doe"/>
                                                    
                                                            <span class="contacts-title">John Doe <span class="glyphicon glyphicon-menu-down"></span></span>

                                                        </a>
                                                    </div>
                                                </div>  
                                        </div>
                                        <!-- END of Panel Primary  --> 
                                    </td>

                                    <!-- HS Second column-->
                                    <td>
                                        <div class="hsProgressOutline list-group-item">
                                            <div class="hsProgressBarPosition progress progress-striped active">
                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">Has no jobs matching their skills</div>
                                            </div>
                                        </div>
                                    </td>

                                    <!-- HS Third column-->
                                    <td>
                                       <div class="hsButtonOutline list-group-item">

                                           <button class="hsButton btn btn-primary btn-lg btn-condensed" data-toggle="tooltip" data-placement="top" title="Refer applicant to a job or person"><span class="fa fa-users"><strong></strong></span></button>

                                            <button class="hsButton btn btn-primary btn-lg btn-condensed" data-toggle="tooltip" data-placement="top" title="Edit applicant's skills"><span class="glyphicon glyphicon-pencil"></span></button>

                                            <button class="hsButton btn btn-primary btn-lg btn-condensed" data-toggle="tooltip" data-placement="top" title="Delete applicant"><span class="glyphicon glyphicon-trash"></span></button>
                                        </div>
                                    </td> 

                                </tr>
                            </table>
                            <!--hs END of ROW3--> 

                            <!-- START of Panel Secondary for ROW3  --> 
                            <div class="panel-body" id="accOneColThree"> 
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                            <!-- END of Panel Secondary for ROW3  --> 

                            
                          
                            <!--hs START of ROWONE--> 
                            <table class="table table-condensed table-striped">
                                
                                <thead>
                                    <th width="25%"></th>
                                    <th width="50%"></th>
                                    <th width="25%"></th>
                                </thead>

                                <!-- HS START of first (and only) row of ROWONE-->
                                <tr>
                                    <!-- HS First column-->
                                    <td>
                                        <!-- START of Panel Primary  -->  
                                        <div class="panel panel-primary">

                                                <div class="panel-heading">

                                                    <div class="hs list-group list-group-contacts">
                                                        <a href="#accOneColFour" class="hs list-group list-group-contacts list-group-item">                                                                    
                                                            <img src="/atlantThemeAdmin/assets/images/users/user4.jpg" class="pull-left" alt="Darth Vador"/>
                                                            
                                                            <span class="contacts-title">Darth Vador <span class="glyphicon glyphicon-menu-down"></span></span>

                                                        </a>
                                                    </div>
                                                </div>  
                                        </div>
                                        <!-- END of Panel Primary  --> 
                                    </td>

                                    <!-- HS Second column-->
                                    <td>
                                        <div class="hsProgressOutline list-group-item">
                                            <div class="hsProgressBarPosition progress progress-striped active">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">Is being considered for <strong>3</strong> jobs</div>
                                            </div>
                                        </div>
                                    </td>

                                    <!-- HS Third column-->
                                    <td>
                                       <div class="hsButtonOutline list-group-item">

                                            <button class="hsButton btn btn-primary btn-lg btn-condensed" data-toggle="tooltip" data-placement="top" title="Refer applicant to a job or person"><span class="fa fa-users"><strong></strong></span></button>

                                            <button class="hsButton btn btn-primary btn-lg btn-condensed" data-toggle="tooltip" data-placement="top" title="Edit applicant's skills"><span class="glyphicon glyphicon-pencil"></span></button>

                                            <button class="hsButton btn btn-primary btn-lg btn-condensed" data-toggle="tooltip" data-placement="top" title="Delete applicant"><span class="glyphicon glyphicon-trash"></span></button>
                                        </div>
                                    </td> 

                                </tr>
                            </table>
                            <!--hs END of ROWONE--> 

                            <!-- START of Panel Secondary for ROWONE  --> 
                            <div class="panel-body" id="accOneColFour"> 
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                            <!-- END of Panel Secondary for ROWONE  --> 

                            
                          
                            <!--hs START of ROWONE--> 
                            <table class="table table-condensed table-striped">
                                
                                <thead>
                                    <th width="25%"></th>
                                    <th width="50%"></th>
                                    <th width="25%"></th>
                                </thead>

                                <!-- HS START of first (and only) row of ROWONE-->
                                <tr>
                                    <!-- HS First column-->
                                    <td>
                                        <!-- START of Panel Primary  -->  
                                        <div class="panel panel-primary">

                                                <div class="panel-heading">

                                                    <div class="hs list-group list-group-contacts">
                                                        <a href="#accOneColFive" class="hs list-group list-group-contacts list-group-item">                                                                    
                                                            <img src="/atlantThemeAdmin/assets/images/users/user5.jpg" class="pull-left" alt="Mahdi Ghodsi"/>
                                                            
                                                            <span class="contacts-title">Mahdi Ghodsi <span class="glyphicon glyphicon-menu-down"></span></span>

                                                        </a>
                                                    </div>
                                                </div>  
                                        </div>
                                        <!-- END of Panel Primary  --> 
                                    </td>

                                    <!-- HS Second column-->
                                    <td>
                                        <div class="hsProgressOutline list-group-item">
                                            <div class="hsProgressBarPosition progress progress-striped active">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">Is being interviewed for <strong>5</strong> jobs</div>
                                            </div>
                                        </div>
                                    </td>

                                    <!-- HS Third column-->
                                    <td>
                                       <div class="hsButtonOutline list-group-item">

                                            <button class="hsButton btn btn-primary btn-lg btn-condensed" data-toggle="tooltip" data-placement="top" title="Refer applicant to a job or person"><span class="fa fa-users"><strong></strong></span></button>

                                            <button class="hsButton btn btn-primary btn-lg btn-condensed" data-toggle="tooltip" data-placement="top" title="Edit applicant's skills"><span class="glyphicon glyphicon-pencil"></span></button>

                                            <button class="hsButton btn btn-primary btn-lg btn-condensed" data-toggle="tooltip" data-placement="top" title="Delete applicant"><span class="glyphicon glyphicon-trash"></span></button>
                                        </div>
                                    </td> 

                                </tr>
                            </table>
                            <!--hs END of ROWONE--> 

                            <!-- START of Panel Secondary for ROWONE  --> 
                            <div class="panel-body" id="accOneColFive"> 
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                            <!-- END of Panel Secondary for ROWONE  --> 

                            
                          
                            <!--hs START of ROWONE--> 
                            <table class="table table-condensed table-striped">
                                
                                <thead>
                                    <th width="25%"></th>
                                    <th width="50%"></th>
                                    <th width="25%"></th>
                                </thead>

                                <!-- HS START of first (and only) row of ROWONE-->
                                <tr>
                                    <!-- HS First column-->
                                    <td>
                                        <!-- START of Panel Primary  -->  
                                        <div class="panel panel-primary">

                                                <div class="panel-heading">

                                                    <div class="hs list-group list-group-contacts">
                                                        <a href="#accOneColSix" class="hs list-group list-group-contacts list-group-item">                                                                    
                                                            <img src="/atlantThemeAdmin/assets/images/users/user6.jpg" class="pull-left" alt="Hooman Shariati"/>
                                                            
                                                            <span class="contacts-title">Hooman Shariati  <span class="glyphicon glyphicon-menu-down"></span></span>

                                                        </a>
                                                    </div>
                                                </div>  
                                        </div>
                                        <!-- END of Panel Primary  --> 
                                    </td>

                                    <!-- HS Second column-->
                                    <td>
                                        <div class="hsProgressOutline list-group-item">
                                            <div class="hsProgressBarPosition progress progress-striped active">
                                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">Was Hired By <strong>Fidessa</strong></div>
                                            </div>
                                        </div>
                                    </td>

                                    <!-- HS Third column-->
                                    <td>
                                       <div class="hsButtonOutline list-group-item">

                                            <button class="hsButton btn btn-primary btn-lg btn-condensed" data-toggle="tooltip" data-placement="top" title="Refer applicant to a job or person"><span class="fa fa-users"><strong></strong></span></button>

                                            <button class="hsButton btn btn-primary btn-lg btn-condensed" data-toggle="tooltip" data-placement="top" title="Edit applicant's skills"><span class="glyphicon glyphicon-pencil"></span></button>

                                            <button class="hsButton btn btn-primary btn-lg btn-condensed" data-toggle="tooltip" data-placement="top" title="Delete applicant"><span class="glyphicon glyphicon-trash"></span></button>
                                        </div>
                                    </td> 

                                </tr>
                            </table>
                            <!--hs END of ROWONE--> 

                            <!-- START of Panel Secondary for ROWONE  --> 
                            <div class="panel-body" id="accOneColSix"> 
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                            <!-- END of Panel Secondary for ROWONE  --> 






                    </div>
            <!-- END ACCORDION --> 









                    


                </div>                                        
            </div>
            <!--HS: END of Chart Layout-->


        <!--HS: END Column ONE-->

        
    </div>
    <!--HS: END of stacked row layout-->









    <!--HS: START of inner content layout-->
    <div class="x-content-inner">

    </div>   
    <!--HS: END of inner content layout-->




</div>


<script type="text/javascript">

/*var myVar = setInterval(myTimer, 1000);

function myTimer() {
    var d = new Date();
    document.getElementById("hsAddApId").innerHTML = d.toLocaleTimeString();
}*/


$('button').click(function() {
  var element = $(this);
  var tmpClass = element.attr('class');
  element.removeClass();

  
  	setInterval(function() {
	    element.offsetWidth = element.offsetWidth;
	    element.addClass(tmpClass).addClass('start-now');
  	}, 10);
  
});



</script>