<style>
    .hsRecRank {
        font-size: 18px;
    }
</style>

<div class="x-content">                                                
   
    <!--HS: start of stacked row layout-->
    <div class="row stacked">


        <!--HS: start Column ONE-->

            
            <!--HS: start of Chart Layout-->
            <div class="x-chart-widget">                                    
                <div class="x-chart-widget-content">
                    
                    <!--HS: start of Summary stuff-->
                    <div class="x-chart-widget-content-head">
                        <h4>SUMMARY</h4>                                            
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">

                            <!--HS: START of Informer widget-->
                            <div class="x-chart-widget-informer">
                                <div class="row">
                                    
                                    <div class="col-md-3">                        
                                        <div class="tile tile-primary">
                                            10
                                            <p>Introduced Applicants</p>
                                        </div>
                                    </div>

                                    <div class="col-md-3">                        
                                        <div class="tile tile-primary">
                                            7
                                            <p>Referred Applicants</p>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-3">                        
                                        <div class="tile tile-primary">
                                            2
                                            <p>Hired Applicants</p>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                                           
                                        <div class="tile tile-primary">
                                            $ <span data-toggle="counter" data-to="1564">1,564</span>
                                            <p>Earned Commissions</p>
                                        </div>
                                    </div>
                                    
                        
                                </div>
                            </div>
                            <!--HS: END of Informer widget-->

                        </div>



                   


                        <div class="col-md-6">
                            <div class="buttons-panel">
                
                               

                                <span class="clearfix"></span>                 
                                
                                <div class="tile tile-primary hsRecRank">
                                    Your Recruiter Rank
                                    <li>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <i class="fa fa-star-half-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </li>
                                   
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <!--HS: END of Summary stuff-->


                    <br>
                    <br>



                    <!-- START ACCORDION -->           
                    <div class="panel panel-group panel-default accordion"> 

                        <div class="table-responsive">
                
                            <!-- START of pannel heading  -->      
                            <div class="panel-heading">

                                <div class="panel-title-box">
                                    <h3>Your Referrals</h3>
                                </div>

                                <!--hs turn this into a widget-->
                                <ul class="panel-controls" style="margin-top: 2px;">
                                    <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                                    <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-cog"></span></a>                                        
                                        <ul class="dropdown-menu">
                                            <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span> Collapse</a></li>
                                            <li><a href="#" class="panel-remove"><span class="fa fa-times"></span> Remove</a></li>
                                        </ul>                                        
                                    </li>                                        
                                </ul>
                                <!--hs END turn this into a widget--> 
                                               
                            </div>
                            <!-- END of pannel heading  -->   

                            
                            <!--hs START of Table--> 
                            <table class="table table-condensed table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th width="50%">Project</th>
                                        <th width="20%">Status</th>
                                        <th width="30%">Activity</th>
                                    </tr>
                                </thead>
                                    
                                <!-- HS START of first row-->
                                <tr>

                                    <td>
                                    <!-- START of First Element  -->  
                                        <div class="panel panel-primary">
                                            <div class="panel-heading">

                                                <div class="hs list-group list-group-contacts">
                                                    <a href="#accOneColOne" class="list-group-item">
                                                        <div class="list-group-status status-online"></div>
                                                    
                                                        <img src="/atlantThemeAdmin/assets/images/users/user3.jpg" class="pull-left" alt="Nadia Ali"/>
                                                        
                                                        <span class="contacts-title">Nadia Ali</span>
                                                        
                                                        <p>Singer-Songwriter</p>                                    
                                                        
                                                        <div class="list-group-controls">
                                                            <button class="btn btn-primary btn-rounded"><span class="fa fa-pencil"></span></button>
                                                        </div>  
                                                    </a>
                                                </div>
                                            </div>    

                                            <div class="panel-body list-group list-group-contacts " id="accOneColOne"> 
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>                                
                                        </div>
                                        <!-- END of First Element  -->
                                    </td>

                                    <!-- HS Second column-->
                                    <td>
                                        <span class="label label-danger">Developing</span>
                                    </td>
                                    <!-- HS Third column-->
                                    <td>
                                        <div class="progress progress-small progress-striped active">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">85%</div>
                                        </div>
                                    </td> 


                                </tr>
                                <!-- HS END of first row-->



                                <!-- HS START of SECOND row-->
                                <tr>
                                    <td>
                                        <!-- START of Second Element  -->  
                                        <div class="panel panel-info">
                                            <div class="panel-heading">

                                                <div class="hs list-group list-group-contacts">
                                                    <a href="#accOneColTwo" class="list-group-item">
                                                        <div class="list-group-status status-online"></div>
                                                    
                                                        <img src="/atlantThemeAdmin/assets/images/users/user.jpg" class="pull-left" alt="Dmitry Ivaniuk"/>
                                                    
                                                        <span class="contacts-title">Dmitry Ivaniuk</span>
                                                    
                                                        <p>Web Developer/Designer</p>                                    
                                                    
                                                        <div class="list-group-controls">
                                                            <button class="btn btn-primary btn-rounded"><span class="fa fa-pencil"></span></button>
                                                        </div>  
                                                    </a>
                                                </div>
                                            </div>    

                                            <div class="panel-body list-group list-group-contacts " id="accOneColTwo"> 
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>                                
                                        </div>
                                        <!-- END of Second Element  -->  
                                    </td>

                                     <!-- HS Second column-->
                                    <td>
                                        <span class="label label-warning">Updating</span>
                                    </td>

                                    <td>
                                        <div class="progress progress-small progress-striped active">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 72%;">72%</div>
                                        </div>
                                    </td>
                           
                                    
                                </tr>
                                <!-- HS END of SECOND row-->


                                <!-- HS START of THIRD row-->
                                <tr>
                                    <td>
                                        <!-- START of Third Element  -->  
                                        <div class="panel panel-warning">
                                            <div class="panel-heading">

                                                <div class="hs list-group list-group-contacts">
                                                    <a href="#accOneColThree" class="list-group-item">
                                                        <div class="list-group-status status-online"></div>
                                                    
                                                        <img src="/atlantThemeAdmin/assets/images/users/user2.jpg" class="pull-left" alt="John Doe"/>
                                                    
                                                        <span class="contacts-title">John Doe</span>
                                                    
                                                        <p>UI/UX Designer</p>                                     
                                                    
                                                        <div class="list-group-controls">
                                                            <button class="btn btn-primary btn-rounded"><span class="fa fa-pencil"></span></button>
                                                        </div>  
                                                    </a>
                                                </div>
                                            </div>    

                                            <div class="panel-body list-group list-group-contacts " id="accOneColThree"> 
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>                                
                                        </div>
                                        <!-- END of Third Element  -->  

                                    </td>
                                

                                    <td>
                                        <span class="label label-success">Support</span>
                                    </td>

                                    <td>
                                        <div class="progress progress-small progress-striped active">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">100%</div>
                                        </div>
                                    </td>

                                </tr>
                                <!-- HS END of THIRD row-->



                            </table>
                            <!--hs END of Table--> 
            
                        </div>
                        <!--HS END Table responsive --> 
                    </div>
                    <!-- END ACCORDION --> 


                </div>                                        
            </div>
            <!--HS: END of Chart Layout-->


        <!--HS: END Column ONE-->

        
    </div>
    <!--HS: END of stacked row layout-->









    <!--HS: START of inner content layout-->
    <div class="x-content-inner">


    </div>   
    <!--HS: END of inner content layout-->




</div>