extends layout

block content
  .container
    .jumbotron
      .container
        h1 Welcome Hiring Manager!!! 

      .container
        .row
          .col-md-2
            a.btn.btn-default(href='#') Post a New Job
          .col-md-2
            a.btn.btn-default(href='#') View Posted Jobs
          .col-md-2
            a.btn.btn-default(href='#') View Applicants
          .col-md-2
            a.btn.btn-default(href='#') View Your Profile

