extends layout

block content
  .container
    .jumbotron
      .container
        h1 Welcome Professor!!! 

      .container
        .row
          .col-md-2
            a.btn.btn-default(href='#') Reffer Applicant
          .col-md-2
            a.btn.btn-default(href='#') Refferal's Status
          .col-md-2
            a.btn.btn-default(href='#') View Available Jobs
          .col-md-2
            a.btn.btn-default(href='#') View Profile
          .col-md-2
            a.btn.btn-default(href='#') View Your TAs
          .col-md-2
            a.btn.btn-default(href='#') Forward a New Job

