<h2>Add New Job</h2>
<form id="regForm" method="post" action="/hiringManagers/jobs/addjob">
  <div>
    <label>Job Title: </label>
    <input type="text" name="job_title">
  </div>
  <div>
    <label>Job Description: </label>
    <textarea name="job_description"></textarea>
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>